{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'alarmpred/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'alarmpred/button.css' %}">
</head>
<style>
    .xt {
        width: 50%;
        padding: 5px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

<body>
<center>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
    </div>

    <hr/>
    <br>
    <section class="sec">

        <h3 class="head">Feature Inputs</h3>
        <form method="post" action="alarm/check" class="float">
            {% csrf_token %}
            <h3 class="head">INSERT RECORD HERE</h3>

            <table border="1" class="content-table">
                <tr>
                    <td>Month Number</td>
                    <td>
                        <select name="month_num" class="xt" required>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Day</td>
                    <td><input type="number" name="day" class="xt" min="1" max="31" required></td>
                </tr>
                <tr>
                    <td>Hour</td>
                    <td><input type="number" name="hour" class="xt" min="0" max="24" required></td>
                </tr>
                <tr>
                    <td>District</td>
                    <td><input type="text" name="district" class="xt" required></td>
                </tr>
                <tr>
                    <td>Primary Type</td>
                    <td><input type="text" name="primary_type" class="xt" required></td>
                </tr>
            </table>

            <div class="button button4">
                <label class="radiocontainer">RANDOM CLASSIFIER
                    <input type="radio" name="algo" value="RANDOM CLASSIFIER">
                    <span class="checkmark"></span>
                </label>
                <label class="radiocontainer">SUPPORT VECTOR MACHINE
                    <input type="radio" name="algo" value="SUPPORT VECTOR MACHINE">
                    <span class="checkmark"></span>
                </label>
                <label class="radiocontainer">LOGISTIC REGRESSION
                    <input type="radio" name="algo" value="LOGISTIC REGRESSION">
                    <span class="checkmark"></span>
                </label>
            </div>

            <button type="submit" class="button button4">Check</button>
        </form>
    </div>
    </section>
</center>
</body>
</html>
